# Dependencies
node_modules/

# Env files
.env
.env.local
backend/.env
frontend/.env
frontend/.env.local

# Build outputs
dist/
frontend/dist/
backend/dist/

# OS / Editor junk
.DS_Store
Thumbs.db
*.log
*.tmp
.vercel
.netlify
.idea/
.vscode/

